html {
	height: 100%;
	background-color: black;
}


body {
	width: 100%;
	padding: 0;
	margin: 0;
	font-style: Helvetica, Arial, sans-serif; 
	font-size: 14px;

}
a:hover {
	font-style: none

}
/* Navigation top bar */
.top {
	background-color:#111414 ;
	height: 40px;
}

/* about.me icon */
#about-me-main {
	background: #242626;
	margin-left: 100px;
	border-style: inset;
	border-left: 1px solid transparent;
	border-right: 1px solid transparent;
	border-top: 1px solid transparent;
	border-bottom: 1px solid transparent;
	height: 40px;
	cursor: pointer;
	font-size: 1em;
	width: 100px;

}
/* Claim your name! icon */
#claim-your-name {
	margin-left: 700px;
	background-color:#19A3D1;
	border-style: outset;
	border-left: 1px solid transparent;
	border-right: 1px solid transparent;
	border-top: 1px solid transparent;
	border-bottom: 1px solid transparent;
	height: 40px;
	cursor: pointer;
	font-size: 1em;
	color: whitesmoke;
	padding: 0 0;
	font-family: 'Istok Web', sans-serif;
	width: auto;
}
/* Log In icon */
#log-in {
	background-color: ;
	border-style: outset;
	border-left: 1px solid transparent;
	border-right: 1px solid transparent;
	border-top: 1px solid transparent;
	border-bottom: 1px solid transparent;
	height: 40px;
	font-size:1em ;
	cursor: pointer;
	color: whitesmoke;
	font-family: 'Istok Web', sans-serif;
	width: auto;

}

/* Background picture */

body img {
	position: relative;
	left: 0px; 
	width: 100%;
	height: auto;
}

/* Bio */
.bio {
	color: whitesmoke; 
	position: absolute;
	left: 700px;
	right: 0;
	top: 0;
	z-index: 1;
	float: left;
	width: 500px;
	padding-top: 50px;

}
h1 {
	font-weight: bold; 
	font-size: 300%;
	font-family: 'Clicker Script', cursive;
	text-align: center;
	color: #FF944D;
}
h2 {
	font-family: 'Bubbler One', sans-serif;
	text-align: center;
}

/* Social media icons */
li {
	list-style: none; 
	display: inline;
	font-size: 400%;
	text-align: center;
	color: #FF944D;
}

a:hover{
	text-decoration: none;
	color: #FF944D;
	text-align: center;


}
a {
	text-decoration: none;
	color: #FF944D;
	text-align: center;
}

/* Smartphones (portrait and landscape) ----------- */

@media screen and (max-device-width : 480px) {

	body img {
		position: fixed;
		left: 0px; 
		width: 100%;
		height: auto;
		float: left;

	}
	.bio {
	color: white;
	font-family: Helvetica, Arial, sans-serif;
	position: inherit; 
	bottom: -20px;
	float: left;
	width: 500px;
}

	img { 
    	left: 50%;
    	margin-left: -512px; 

    }  /* 50% */
  
 	h1 {
		font-weight: bold; 
		font-size: 300%;
		font-family: 'Clicker Script', cursive;
		text-align: center;
		float: none;
	}
	h2 {
		font-family: 'Patrick Hand', cursive;
		text-align: center;
		float: none; 
}

/* Social media icons */
	li {
		list-style: none; 
		display: inline;
		font-size: 400%;
		font-color:gray;
		text-align: center;
		background: gray;

	}

	a:hover{
		text-decoration: none;
		font-color: black;
		background: gray;


	}
	a {
		text-decoration: none;
		font-color: black;
		text-align: center;

}






